/* Google Font Link. */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Make a root Variables */
:root {
    --white: #fff;
    --black: #111;
    --blue: #3a80e9;
    --grey: #888;
    --darkgrey: #1b1b1b;
    --green: #61c96f;
    --red: #f94141;
}
html {scroll-behavior: smooth;}
body {
    font-family: 'Inter', sans-serif;
    color: var(--white);
    background-color: var(--black);
}

::selection {
    background-color: var(--blue);
    color: var(--white);
}

/* Width of the ScrollBar */
::-webkit-scrollbar {
    width: 0.3rem;
}

/* Track of The ScrollBar */
::-webkit-scrollbar-track {
    background: var(--black);
}

/* Handle/Thumb of The ScrollBar */
::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 3rem;
}

a {
    color: var(--grey);
    text-decoration: none;
}

.grey-wrapper {
    display: block;
    width: 90%;
    background-color: var(--darkgrey);
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.8rem;
    padding: 0 0.5rem;
}

.coin-info-div {
    margin-top: 1.5rem;
}

.coins-days-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.filter-coins {
    margin-left: 3rem;
}


@media only screen and (max-width: 660px) {
    .filter-coins {
        width: 100%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 1rem;
    }
    .coin-flex p{
        font-size: 0.7rem;
    }
} 